title: issie's Blog
description: about coding, reading, thinking, writing and creating.
baseurl: ""
url: "https://issie-art.github.io"

# Build settings
markdown: kramdown
highlighter: rouge
permalink: /blog/:year/:month/:day/:title/

# Plugins
plugins:
  - jekyll-seo-tag
  - jekyll-sitemap

# Author information
author:
  name: Issie Lv
  email: xxin778@163.com

# Collections
collections:
  posts:
    output: true
    permalink: /blog/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"
