<h1>标签: <%= page.tag %></h1>
<ul class="posts">
    <% page.posts.each(function(post){ %>
    <li>
        <a href="<%- url_for(post.path) %>"><%= post.title %></a>
        <time><%= date(post.date, 'YYYY-MM-DD') %></time>
    </li>
    <% }); %>
</ul>
