<!doctype html>
<html lang="zh-CN">
{% include head.html %}
<body>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Issie's Blog",
  "url": "{{ site.url }}/",
  "description": "关于编程、阅读、思考、写作和创作",
  "author": {
    "@type": "Person",
    "name": "Issie Lv",
    "email": "xxin778@163.com"
  }
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Issie Lv",
  "alternateName": "吕俊欣",
  "birthDate": "2006",
  "birthPlace": "湖南邵阳",
  "jobTitle": "后端工程师",
  "email": "xxin778@163.com",
  "description": "喜欢设计、编程、阅读、思考、写作和一切与创造相关的东西",
  "sameAs": []
}
</script>
<img class="avatar" src="{{ site.url }}/assets/avatar.jpg" alt="avatar">

<h1>Issie's Blog</h1>
<p style="rgb(128 131 141 / var(--tw-text-opacity, 1))">about coding、reading、thinking、writing and creating</p>

<div class="full-intro">
    <p>
        我叫吕俊欣（Issie Lv），2006 年出生于湖南邵阳。喜欢设计、编程、阅读、思考、写作和一切与创造相关的东西。小时候的梦想是成为一名黑客，但最终却成为了一名程序员。
    </p>
    <p>
        - 2020 年初中二年级离开了学校，同年五月份去了特训学校，<br>
        - 2021 年去了电竞学校，<br>
        - 2022 年开始接触编程，<br>
        - 2023 年开始跑马拉松，<br>
        - 2024 年开始健身，同年满 18 岁入职一家不知名物联网中型企业至今。<br>
        - 2025 年开始对千万级用户量的系统负责，进行链路治理与演进。<br>
        - 2026 年希望完成执行着到问题定义者身份的转变
    </p>
    <p>
        未来希望能够打造一款属于自己的产品，为社会创造价值，现阶段正在努力构建工程基础，希望能做一个长期主义者。
    </p>
    <p>
        想做这篇博客的原因是将自己的一些拙见与经验分享出去，帮助到其他人，同时写作也是我认为的一种很好的思考方式。
    </p>
    <p>
        如果我的内容对你有帮助的话，可以通过以下方式联系我，你的驻足是对我最大的赞赏
        邮箱：<a href="mailto:xxin778@163.com">xxin778@163.com</a><br>
        微信：issie_x
    </p>
    <p>
        Thank you!
    </p>
</div>

<h2>文章</h2>
<ul class="posts">
    {% for post in site.posts %}
    <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <time>{{ post.date | date: "%Y-%m-%d" }}</time>
    </li>
    {% endfor %}
</ul>

<footer>
    <a href="mailto:xxin778@163.com">邮箱</a> / 微信 issie_x
</footer>
</body>
</html>
