<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<img class="avatar" src="/assets/avatar.jpg" alt="avatar">

<h1>Issie's Blog</h1>
<p style="rgb(128 131 141 / var(--tw-text-opacity, 1))">about coding、reading、thinking、writing and creating</p>

<div class="full-intro">
    <p>
        我叫吕俊欣（Issie Lv），2006 年出生于湖南邵阳。喜欢设计、编程、阅读、思考、写作和一切与创造相关的东西。小时候的梦想是成为一名黑客，但最终却成为了一名程序员。
    </p>
    <p>
        2020 年初中二年级离开了学校，同年五月份去了特训学校，<br>
        2021 年去了电竞学校，<br>
        2022 年开始接触编程，<br>
        2023 年开始跑马拉松，<br>
        2024 年开始健身，同年 12 月参加工作担任后端工程师，就职于某不知名中厂至今。<br>
        未来希望能够打造一款属于自己的产品，为社会创造价值，现阶段在努力构建工程基础，希望能做一个长期主义者。
    </p>
    <p>
        想做这篇博客的原因是将自己的一些拙见与经验分享出去，帮助到其他人，同时写作也是我认为的一种很好的思考方式。
    </p>
    <p>
        如果对我的内容感兴趣的话，可以发送邮件到我的邮箱：<a href="mailto:xxin778@163.com">xxin778@163.com</a>，我会定期进行回复。<br>
        也可以添加我的微信：<em>issie_x</em>，我会及时回复。<br>
        你的驻足就是对我最大的赞赏。
    </p>
    <p>
        Thank you!
    </p>
</div>

<h2>文章</h2>
<ul class="posts">
    {% for post in site.posts %}
    <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <time>{{ post.date | date: "%Y-%m-%d" }}</time>
    </li>
    {% endfor %}
</ul>

<footer>
    <a href="mailto:xxin778@163.com">邮箱</a> / 微信 issie_x
</footer>
</body>
</html>
